<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <div class="text-center top-menu" *ngIf="(router.url.includes('class') || router.url.includes('student')) && !router.url.includes('transcript')">
    <ul class="nav navbar-nav d-md-down-none">
      <li class="nav-item px-3">
        <a class="nav-link" [ngClass]="{'active' : router.url === ('/class/'+classId+'/stream') }" [routerLink]="['/class', classId, 'stream']">Bàn luận</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" [ngClass]="{'active' : router.url === ('/class/'+classId+'/classwork') }" [routerLink]="['/class', classId, 'classwork']" href="#">Bài tập</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" [ngClass]="{'active' : router.url === ('/class/'+classId+'/people') }" [routerLink]="['/class', classId, 'people']" href="#">Mọi người</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" [ngClass]="{'active' : router.url === ('/class/'+classId+'/mark') }" [routerLink]="['/class', classId, 'mark']" href="#">Điểm số</a>
      </li>
      <li *ngIf="isTeacher" class="nav-item px-3">
        <!-- Dành cho giáo viên: -->
        <a class="nav-link" [ngClass]="{'active' : router.url === ('/class/'+classId+'/attendance') }" [routerLink]="['/class', classId, 'attendance']">Điểm danh</a>
      </li>
      <li *ngIf="isStudent" class="nav-item px-3">
        <!-- Dành cho sinh viên: -->
        <a class="nav-link" [ngClass]="{'active' : router.url === ('/student/'+userId+'/attendance') }" [routerLink]="['/student', userId, 'attendance']">Điểm danh</a>
      </li>
    </ul>
  </div>
  <ul class="nav navbar-nav" [ngClass]="{'ml' : (!router.url.includes('class') && !router.url.includes('student')) || router.url.includes('transcript')}">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="{{driveUrl + objProfile?.avatar_file_id || defaultAvatar}}" class="img-avatar" alt="" style="width: 35px;"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Tài khoản</strong></div>
        <a class="dropdown-item" [routerLink]="['/dashboard']" ><i class="fa fa-bell-o"></i> Lớp học<span class="badge badge-info">{{totalCourse}}</span></a>
        <a class="dropdown-item" ><i class="fa fa-envelope-o"></i> Bài tập<span class="badge badge-success">{{totalEx}}</span></a>
        <a class="dropdown-item" [routerLink]="['/setting']" ><i class="fa fa-user"></i> Cá nhân</a>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Đăng xuất</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>

  <!-- Main content -->
  <main class="main" style="padding-top: 20px;">
    <div class="container-fluid col-md-12 col-12" style="height: 100%;">
      <router-outlet></router-outlet>
    </div>
  </main>

</div>
<app-footer>
  <span class="ml-auto">T1807E <a href="#">Superman</a></span>
</app-footer>
