
    <div class="animated fadeIn">
        <div class="col-sm-12 text-center">
    
                <div class="card card-header-class">
                    <div class="card-body">
    
    
                    </div>
                </div>
    
        </div>
    
        <div class="col-sm-12 content-div">
            <div class="row">
    
                <div class="col-sm-3">
                    <div class="card ex-div">
                        <div class="card-body">
        
        
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 info-div">
                    <div class="card cmt-div">
                        <div class="card-body">
        
        
                        </div>
                    </div>
                    <div class="card intro-div">
                        <div class="card-body">
        
        
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    
    </div>
