<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="col-sm-12 text-center">
            <div class="card card-header-class">
                <div class="card-body">
                </div>
                <div class="card-footer">
                    <div class="wrapper">
                        <button class="no-image" id="img-result">Upload Image</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <button type="button" class="btn btn-brand btn-lg btn-html5 mr-1 margin-auto">
                <i class="fa fa-check"></i>
                <span>Điểm danh</span>
              </button>
        </div>
    </div>
</div>
