.lb-dk{
    width: 100%;
}
.is-invalid{
    border-color: red;
}
.invalid-msg{
    width: 100%;
}
.invalid-msg p{
    margin-bottom: 0;
    color: red;
    font-size: 12px;
    margin-left: 12%;
}
.form-control.is-invalid{
    background-image: none;
}
.main{
    background-image: url("../../../assets/img/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}