<div class="animated fadeIn">
    <div class="card col-md-10 col-12" style="margin: auto;">
        <div class="card-body btn-create" *ngIf="isTeacher">
            <button (click)="onClickShowModalAdd()" type="button" class="btn btn-brand btn-lg btn-stack-overflow mr-1"
                style="margin-bottom: 4px">
                <i class="fa fa-plus"></i>
                <span>Tạo bài tập</span>
            </button>
        </div>
        <div class="card-body work-info" *ngIf="lstExcercise.length == 0 && isTeacher">
            <h1>Chỉ định bài tập cho lớp học tại đây</h1>
            <div class="row margin-left-30">
                <i class="icon-book-open icons font-xl"></i>
                <p>Tạo bài tập và câu hỏi</p>
            </div>
        </div>
        <div class="card-body work-info" *ngIf="isStudent">
            <h1>Danh sách bài tập dành cho lớp</h1>
            <div class="row margin-left-30" *ngIf="lstExcercise.length == 0">
                <i class="icon-book-open icons font-xl"></i>
                <p>Hiện tại không có bài tập.</p>
            </div>
        </div>
        <div class="card-body no-content text-center" *ngIf="lstExcercise.length == 0">
            <img src="../../../assets/img/no_assignments.png" alt="">
        </div>

        <!-- List classwork -->
        <div class="list-ex">
            <div *ngFor="let exam of lstExcercise" class="row exam" id="exam-{{exam.id}}"
                (mouseover)="exam.isHover = true" (mouseout)="exam.isHover = false"
                [ngClass]="{'is-hover' : exam.isHover || exam.isCollapsed }">
                <div class="row col-12 list-exam" (click)="exam.isCollapsed = !exam.isCollapsed; collapse(exam.isCollapsed, exam.id, $event)">
                    <div class="td text-left list col-9">
                        <div class="row click-col">
                            <div class="wrapper-icon">
                                <i class="icon-note icons font-xl"></i>
                            </div>
                            <p>
                                {{exam.title}}
                                <span *ngIf="isStudent && !exam.result?.submitted" style="font-size: 13px; color: gray;"> (Chưa nộp)</span>
                            </p>
                        </div>
                    </div>
                    <div class="td text-right action col-3">
                        <div class="row">
                            <p>{{exam.createAt}}</p>
                            <div class="wrapper-action" [ngClass]="{'d-none' : !exam.isHover && !exam.isCollapsed}"
                                dropdown placement="bottom right">
                                <i dropdownToggle class="icon-options-vertical icons font-xl"></i>
                                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                                    <ng-container *ngIf="isStudent">
                                        <li *ngIf="!exam.result?.submitted && exam.status == 'ONGOING'" role="menuitem" (click)="onClickPostEx(exam)" ><a class="dropdown-item">Nộp bài</a></li>
                                        <li *ngIf="exam.result?.submitted && !exam.result?.marked && exam.status == 'ONGOING'" role="menuitem" (click)="onClickShowModalUnsubmit(exam)" ><a class="dropdown-item">Hủy bài nộp</a></li>
                                        <li role="menuitem" [routerLink]="['/class', objCourse?.id, 'mark']"><a class="dropdown-item">Xem điểm</a></li>
                                    </ng-container>
                                    <ng-container *ngIf="isTeacher">
                                        <li role="menuitem" (click)="onClickExDetail(exam.id)"><a
                                                class="dropdown-item">Chỉnh sửa</a></li>
                                        <li role="menuitem" (click)="onClickCancelEx(exam)"><a class="dropdown-item">Hủy bài tập</a></li>
                                        <li role="menuitem" [routerLink]="['/class', objCourse?.id, 'mark']"><a class="dropdown-item">Điểm số</a></li>
                                    </ng-container>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 div-collapse d-none" id="col-{{exam.id}}">
                    <div class="col-12 exam-content">
                        <div class="col-12 expried">
                            <p *ngIf="exam.exercise_end_time == null || exam.exercise_end_time === 0">Không có ngày đến hạn</p>
                            <p *ngIf="exam.exercise_end_time != null && exam.exercise_end_time != 0 && exam.status == 'ONGOING'">Hạn nộp: {{convertTickToDateLong(exam.exercise_end_time)}}</p>
                            <p *ngIf="exam.exercise_end_time != null && exam.exercise_end_time != 0 && exam.status != 'ONGOING'">Hết hạn nộp bài.</p>
                        </div>
                        <div class="row col-12 count" *ngIf="isTeacher">
                            <div class="col-lg-3 col-md-4 col-6 count-num exam-done">
                                <h2>{{exam.submitedCount}}</h2>
                                <p>đã nộp</p>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6 count-num">
                                <h2>{{exam.markCount}}</h2>
                                <p>đã chấm</p>
                            </div>
                        </div>
                        <div class="row col-12 count" *ngIf="isStudent">
                            <div class="col-lg-3 col-md-4 col-6 count-num exam-done">
                                <p style="margin-top: revert">{{ exam.result?.submitted ?'Đã nộp' : 'Chưa nộp'}}</p>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6 count-num">
                                <p style="margin-top: revert">{{ exam.result?.marked ?'Đã chấm' : 'Chưa chấm'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 exam-footer">
                        <div class="td text-left list col-9">
                            <div class="row">
                                <p>
                                    <a (click)="onclickShowDetailEx(exam)" style="color: #20a8d8; text-decoration: underline; cursor: pointer;">Xem bài tập</a>
                                </p>
                                <p *ngIf="isStudent && exam.result?.submitted">
                                    <a (click)="onclickShowModalResultEx(exam)" style="color: #20a8d8; text-decoration: underline; cursor: pointer;">Xem bài nộp</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal create excercise -->
<div bsModal #addModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <form class="form-horizontal" [formGroup]="frmAdd" (ngSubmit)="onSubmitFormAdd()">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm bài tập</h4>
                    <button type="button" class="close" (click)="addModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Tiêu đề</label>
                        <div class="col-md-9">
                            <input formControlName="inputTitle" type="text" id="text-input" name="text-input"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': (submitted || f.inputTitle.touched)  && f.inputTitle.errors }">
                            <span *ngIf="(submitted || f.inputTitle.touched)  && f.inputTitle.errors?.required"
                                class="help-block">Tiêu đề không được để trống!</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="textarea-input">Nội dung</label>
                        <div class="col-md-9">
                            <textarea formControlName="textareaContent" id="textarea-input" name="textarea-input"
                                rows="5" class="form-control" placeholder="Nội dung đề bài.."
                                [ngClass]="{ 'is-invalid': (submitted || f.textareaContent.touched)  && f.textareaContent.errors }"></textarea>
                            <span
                                *ngIf="(submitted || f.textareaContent.touched)  && f.textareaContent.errors?.required"
                                class="help-block">Nội dung không được để trống!</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="begin-input">Ngày hết hạn</label>
                        <div class="col-md-9">
                            <input formControlName="inputExpiredDate" class="form-control" id="begin-input" type="date"
                                placeholder="date"
                                [ngClass]="{ 'is-invalid': (submitted || f.inputExpiredDate.touched)  && f.inputExpiredDate.errors }"
                                min="{{minExpiredDate}}"
                                >
                            <span *ngIf="(submitted || f.inputExpiredDate.touched)  && f.inputExpiredDate.errors?.required" class="help-block">Ngày hết hạn không được để trống!</span>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="addModal.hide()">Hủy</button>
                    <button type="submit" class="btn btn-success">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Lưu
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Modal update excercise -->
<div bsModal #updateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <form class="form-horizontal" [formGroup]="frmUpdate" (ngSubmit)="onSubmitFormUpdate()">
                <div class="modal-header">
                    <h4 class="modal-title">Sửa thông tin bài tập</h4>
                    <button type="button" class="close" (click)="updateModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" formControlName="inputId">
                    <input type="hidden" formControlName="inputSessionId">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-inputE">Tiêu đề</label>
                        <div class="col-md-9">
                            <input formControlName="inputTitle" type="text" id="text-inputE" name="text-inputE"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': (submitted || u.inputTitle.touched)  && u.inputTitle.errors }">
                            <span *ngIf="(submitted || u.inputTitle.touched)  && u.inputTitle.errors?.required"
                                class="help-block">Tiêu đề không được để trống!</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="textarea-inputE">Nội dung</label>
                        <div class="col-md-9">
                            <textarea formControlName="textareaContent" id="textarea-inputE" name="textarea-inputE"
                                rows="5" class="form-control" placeholder="Nội dung đề bài.."
                                [ngClass]="{ 'is-invalid': (submitted || u.textareaContent.touched)  && u.textareaContent.errors }"></textarea>
                            <span
                                *ngIf="(submitted || u.textareaContent.touched)  && u.textareaContent.errors?.required"
                                class="help-block">Nội dung không được để trống!</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="begin-inputE">Ngày hết hạn</label>
                        <div class="col-md-9">
                            <input formControlName="inputExpiredDate" class="form-control" id="begin-inputE" type="date"
                                placeholder="date"
                                [ngClass]="{ 'is-invalid': (submitted || u.inputExpiredDate.touched)  && u.inputExpiredDate.errors }"
                                min="{{minExpiredDate}}">
                            <span
                                *ngIf="(submitted || u.inputExpiredDate.touched)  && u.inputExpiredDate.errors?.required"
                                class="help-block">Ngày hết hạn không được để trống!</span>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="updateModal.hide()">Hủy</button>
                    <button type="submit" class="btn btn-success">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Lưu
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Modal add session -->
<div bsModal #addSessionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bắt đầu buổi học</h4>
                <button type="button" class="close" (click)="addSessionModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Để tạo bài tập mới bạn cần bắt đầu một buổi học.</p>
                <div class="modal-session">
                    <p>Bắt đầu buổi học</p>
                    <label class="switch switch-label switch-outline-success-alt">
                        <input type="checkbox" class="switch-input" [checked]="false"
                            (change)="onChangeAddSession($event)">
                        <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="addSessionModal.hide()">Hủy</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal cancel ex -->
<div bsModal #cancelModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hủy bài tập</h4>
                <button type="button" class="close" (click)="cancelModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn hủy bài tập: {{exTitleSelected}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cancelModal.hide()">Bỏ qua</button>
                <button (click)="onSubmitCancelEx()" type="button" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Hủy bài tập
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal detail ex -->
<div bsModal #detailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{currentEx?.title}}</h4>
                <button type="button" class="close" (click)="detailModal.hide()" aria-label="Close">
                    <span aria-hidden="true" style="color: #ffffff;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Nội dung: </h5>
                <div [innerHTML]="currentEx?.content" style="padding-left: 10px;">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="detailModal.hide()">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal post ex result -->
<div bsModal #postExModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-success" role="document" style="max-width: 750px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nộp bài tập: {{currentEx?.title}}</h4>
                <button type="button" class="close" (click)="postExModal.hide()" aria-label="Close">
                    <span aria-hidden="true" style="color: #ffffff;">&times;</span>
                </button>
            </div>
            <form class="form-horizontal" [formGroup]="frmPostExercise" (ngSubmit)="onSubmitFormPostEx()">
                <div class="modal-body">

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="textarea-p">Nội dung</label>
                        <div class="col-md-10">
                            <textarea formControlName="textareaContent" id="textarea-p" name="textarea-p"
                                rows="8" class="form-control" placeholder="Nội dung bài nộp.."
                                [ngClass]="{ 'is-invalid': (submitted || frmPostEx.textareaContent.touched)  && frmPostEx.textareaContent.errors }"></textarea>
                            <span *ngIf="(submitted || frmPostEx.textareaContent.touched)  && frmPostEx.textareaContent.errors?.required" class="help-block">Nội dung không được để trống!</span>
                            <span *ngIf="(submitted || frmPostEx.textareaContent.dirty)  && frmPostEx.textareaContent.errors?.maxLength" class="help-block">Nội dung không được dài quá 2000 ký tự!</span>
                        </div>
                    </div>

                    <!-- Preview file -->
                    <div class="form-group row" style="margin-bottom: 0;">
                        <label class="col-md-2 col-form-label" for="begin-input"></label>
                        <div class="col-md-10">
                            <div class="file-div preview-file" *ngFor="let f of lstSelectedFile" (click)="onClickReadFilePreview(f);">
                                <!-- File -->
                                <div class="file-img" [style.backgroundImage]="'url('+ getPreviewImgByFileType(f.file.name, f.url, true) +')'" ></div>
                                <div class="file-name">
                                    <div style="font-size: 18px; overflow: hidden; display: flex;">
                                        {{f.file.name}}
                                    </div>
                                    <p class="color-gray">
                                        {{getTypeFile(f.file.name)}}
                                    </p>
                                </div>
                                <div class="file-remove">
                                    <div class="wrapper-action" (click)="onClickRemoveSelectedFile(f)">
                                        <i class="cui-trash icons font-xl" style="line-height: 2;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input #inputFile type="file" (change)="onSelectFile($event)" style="display: none;" multiple>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" (click)="inputFile.click()" style="margin-right: auto;">
                        <i class="icon-paper-clip icons"></i>
                        Đính kèm
                    </button>
                    <button type="button" class="btn btn-secondary" (click)="postExModal.hide()">Hủy</button>
                    <button type="submit" class="btn btn-success">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Nộp bài
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal read ex result by student -->
<div bsModal #detailResultExModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-success" role="document" style="max-width: 750px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bài nộp cho bài tập: {{exTitleSelected}}</h4>
                <button type="button" class="close" (click)="detailResultExModal.hide()" aria-label="Close">
                    <span aria-hidden="true" style="color: #ffffff;">&times;</span>
                </button>
            </div>
            <form class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="textarea-p">Nội dung</label>
                        <div class="col-md-10">
                            <textarea name="textarea-p"
                                    [readOnly]="true"
                                    rows="8" class="form-control" 
                                    placeholder="Nội dung bài nộp.."
                                    [(ngModel)]="resultExSelected.content"
                                    >
                            </textarea>
                        </div>
                    </div>
                    <!-- Preview file -->
                    <div class="form-group row" style="margin-bottom: 0;">
                        <label class="col-md-2 col-form-label" for="begin-input"></label>
                        <div class="col-md-10">
                            <div class="file-div preview-file" *ngFor="let f of resultExSelected.fileResponses" (click)="onClickReadFile(f); readFileModal.show();">
                                <!-- File -->
                                <div class="file-img" [style.backgroundImage]="'url('+ getPreviewImgByFileType(f.name, f.file_id) +')'" ></div>
                                <div class="file-name">
                                    <div style="font-size: 18px; overflow: hidden; display: flex;">
                                        {{f.name}}
                                    </div>
                                    <p class="color-gray">
                                        {{getTypeFile(f.name)}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="detailResultExModal.hide()">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal read file-->
<div bsModal #readFileModal="bs-modal" class="modal fade" id="modalReadFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-w-900" role="document">
        <div class="modal-content">
            <div class="modal-header text-center" style="margin-bottom: 10px; height: 50px; border: none;">
                <h4 class="modal-title w-100 font-weight-bold" style="overflow: hidden;">{{currentFile?.name}}</h4>
                <button #closeReadFile type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="readFileModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <iframe 
                [src]="currentFile?.url" 
                style="width:100%; height:80vh;"
                >
            </iframe>
        </div>
    </div>
</div>

<!-- Modal unsubmit result ex -->
<div bsModal #unSubmitModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hủy bài nộp</h4>
                <button type="button" class="close" (click)="unSubmitModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn hủy bài nộp cho bài tập: {{exTitleSelected}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="unSubmitModal.hide()">Bỏ qua</button>
                <button (click)="onSubmitUnSubmitEx()" type="button" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Hủy bài nộp
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Icon loading -->
<ngx-ui-loader></ngx-ui-loader>
<div class="ngx-foreground-spinner spinner-container">
    <div class="sk-three-strings">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>