<div class="animated fadeIn">
  <!--/.row-->
  <!-- <div class="row">
    <div class="col-sm-12 text-right">
      <button type="button" class="btn btn-brand btn-lg btn-twitter mr-1" style="margin-bottom: 4px">
        <i class="fa fa-plus"></i>
        <span>Thêm lớp học</span>
      </button>
    </div>
  </div> -->
  <div class="row">

    <div class="col-sm-6 col-lg-3" *ngFor="let c of lstAllCourse">
      <div class="brand-card">
        <div class="brand-card-header bg-facebook" [style.backgroundImage]="'url('+ imageUrl +')'">
          <h2>{{c.name}}</h2>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">40</div>
            <div class="text-uppercase text-muted small">Sinh viên</div>
          </div>
          <div>
            <div class="text-value">8/10</div>
            <div class="text-uppercase text-muted small">Buổi học</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="brand-card add-card" (click)="addModal.show()">
        <div class="brand-card-body">
          <!-- <fa-icon [icon]="faPlus"></fa-icon> -->
          <p class="add-char">Thêm lớp học</p>
        </div>
      </div>
    </div>
  </div>


<div bsModal #addModal class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">

      <form class="form-horizontal" [formGroup]="frmAdd" (ngSubmit)="onSubmitFormAdd()">
        <div class="modal-header">
          <h4 class="modal-title">Thêm lớp học</h4>
          <button type="button" class="close" (click)="addModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Tên</label>
              <div class="col-md-9" >
                <input formControlName="inputName" type="text" id="text-input" name="text-input" class="form-control" [ngClass]="{ 'is-invalid': (submitted || f.inputName.touched)  && f.inputName.errors }">
                <span *ngIf="(submitted || f.inputName.touched)  && f.inputName.errors?.required" class="help-block">Tên không được để trống!</span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="des-input">Mô tả</label>
              <div class="col-md-9" >
                <input formControlName="inputDes" type="text" id="email-input" name="des-input" class="form-control" [ngClass]="{ 'is-invalid': (submitted || f.inputDes.touched)  && f.inputDes.errors }">
                <span *ngIf="(submitted || f.inputDes.touched)  && f.inputDes.errors?.required" class="help-block">Mô tả không được để trống!</span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">Chuyên ngành</label>
              <div class="col-md-9">
                <select formControlName="selectCategory" id="select1" name="select1" class="form-control" [ngClass]="{ 'is-invalid': (submitted || f.selectCategory.touched)  && f.selectCategory.errors }">
                  <option value="0">Please select</option>
                  <option value="1">Option #1</option>
                  <option value="2">Option #2</option>
                  <option value="3">Option #3</option>
                </select>
                <span *ngIf="(submitted || f.selectCategory.touched)  && f.selectCategory.errors?.required" class="help-block">Hãy chọn một chuyên ngành!</span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="begin-input">Ngày bắt đầu</label>
              <div class="col-md-9">
                <input formControlName="inputBeginDate" class="form-control" id="begin-input" type="date" placeholder="date" [ngClass]="{ 'is-invalid': (submitted || f.inputBeginDate.touched)  && f.inputBeginDate.errors }">
                <span *ngIf="(submitted || f.inputBeginDate.touched)  && f.inputBeginDate.errors?.required" class="help-block">Ngày bắt đầu không được để trống!</span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="end-input">Ngày kết thúc</label>
              <div class="col-md-9">
                <input formControlName="inputEndDate" class="form-control" id="end-input" type="date" placeholder="date" [ngClass]="{ 'is-invalid': (submitted || f.inputEndDate.touched)  && f.inputEndDate.errors }">
                <span *ngIf="(submitted || f.inputEndDate.touched)  && f.inputEndDate.errors?.required" class="help-block">Ngày kết thúc không được để trống!</span>
              </div>
            </div>

        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="addModal.hide()">Bỏ</button>
          <button type="submit" class="btn btn-success">Lưu</button>
        </div>

      </form>
    </div>
  </div>
</div>
