h2{
    color: #ffffff;
}
.brand-card-header{
    cursor:pointer;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.add-card{
    height: 50px;
    border: 4px dashed lightgray;
}
