<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-facebook">
          <h2>T1807E</h2>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">40</div>
            <div class="text-uppercase text-muted small">Sinh viên</div>
          </div>
          <div>
            <div class="text-value">8/10</div>
            <div class="text-uppercase text-muted small">Buổi học</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-linkedin">
          <h2>T1807E</h2>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">40</div>
            <div class="text-uppercase text-muted small">Sinh viên</div>
          </div>
          <div>
            <div class="text-value">8/10</div>
            <div class="text-uppercase text-muted small">Buổi học</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-twitter">
          <h2>T1807E</h2>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">40</div>
            <div class="text-uppercase text-muted small">Sinh viên</div>
          </div>
          <div>
            <div class="text-value">8/10</div>
            <div class="text-uppercase text-muted small">Buổi học</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="brand-card-header bg-google-plus">
          <h2>T1807E</h2>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">40</div>
            <div class="text-uppercase text-muted small">Sinh viên</div>
          </div>
          <div>
            <div class="text-value">8/10</div>
            <div class="text-uppercase text-muted small">Buổi học</div>
          </div>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
