h3{
    color: #ffffff;
}
.brand-card-header{
    cursor:pointer;
    height: 7rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.add-card{
    height: 190px;
    border: 4px dashed #7aeba1;
    cursor: pointer;
}
.add-card .brand-card-body{
    display: block;
    font-size: 75px;
    color: #7aeba1;
    padding-top: 25px;
}
.add-card .brand-card-body > *:not(:last-child) {
    border-right: none;
}
.add-char{
    font-size: 20px;
}
.close{
    color: #ffffff;
}
.modal-title{
    margin-left: auto;
}
.help-block{
    color: red;
}
.form-control.is-invalid {
    background-image: none;
    padding: 0.375rem 0.75rem;
}