
<div class="animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <!-- Chọn ngày: -->

                    <div class="col-lg-4 col-md-6 col-12" style="margin-left: auto; margin-top: 20px;">
                        <div class="form-group row">
                                <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
                        </div>
                    </div>

                <!-- Danh sách sinh viên: -->
                <table class="table table-student">
                    <thead>
                        <tr>
                            <th class="role">
                                <h1>Danh sách sinh viên</h1>
                            </th>
                            <th class="text-right action">
                                21 sinh viên (Vắng: <span>2</span>)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="row text-left list">
                                <div class="avatar">
                                    <img src="assets/img/avatars/4.jpg" class="img-avatar"
                                        alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status badge-secondary"></span>
                                </div>
                                <p>Trần Văn Nguyên (Nguyentv)</p>
                            </td>
                            <td class="text-right action">
                                <label class="switch switch-label switch-danger">
                                    <input type="checkbox" class="switch-input" checked>
                                    <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="row text-left list">
                                <div class="avatar">
                                    <img src="assets/img/avatars/4.jpg" class="img-avatar"
                                        alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status badge-secondary"></span>
                                </div>
                                <p>Trần Văn Nguyên (Nguyentv)</p>
                            </td>
                            <td class="text-right action">
                                <label class="switch switch-label switch-danger">
                                    <input type="checkbox" class="switch-input" checked>
                                    <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="row text-left list">
                                <div class="avatar">
                                    <img src="assets/img/avatars/4.jpg" class="img-avatar"
                                        alt="admin@bootstrapmaster.com">
                                    <span class="avatar-status badge-secondary"></span>
                                </div>
                                <p>Trần Văn Nguyên (Nguyentv)</p>
                            </td>
                            <td class="text-right action">
                                <label class="switch switch-label switch-danger">
                                    <input type="checkbox" class="switch-input" checked>
                                    <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
