<div class="animated fadeIn">
	<div class="card col-md-10 col-12" style="margin: auto;">
		<div class="card-body">
			<h1 style="padding-left: 15px;">Hồ sơ</h1>
			<div class="row m-b-r m-t-3">
				<div class="col-md-2" style="text-align: center;">
					<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 spin-avatar"></span>
					<img [ngClass]="{'loading' : loading}"
						src="{{driveUrl + objProfile?.avatar_file_id || defaultAvatar}}" alt="Ảnh cá nhân"
						class="img-circle img-fluid">
					<div class="edit-avatar">
						<div class="wrapper-action" style="margin-left: auto;" popover="Tải ảnh lên"
							triggers="mouseenter:mouseleave" (click)="inputFile.click()">
							<i class="icon-cloud-upload icons font-2xl"></i>
						</div>
						<input #inputFile type="file" (change)="onSelectFile($event)" style="display: none;">
						<div class="wrapper-action" style="margin-right: auto;" popover="Chụp ảnh"
							triggers="mouseenter:mouseleave" (click)="imageModal.show(); webcamImage = null; blnIsForProfile = true;">
							<i class="icon-camera icons font-2xl"></i>
						</div>
					</div>
				</div>
				<div class="col-md-7 p-t-2">
					<h2 class="h2-responsive">
						{{objProfile?.username}}
						<div class="wrapper-action" popover="Chỉnh sửa" triggers="mouseenter:mouseleave"
							(click)="addModal.show(); onClickShowFormEdit();">
							<i class="cui-pencil icons font-2xl"></i>
						</div>
					</h2>

					<ul class="flex-menu" style="list-style-type: none;">
						<li>
							<i class="icon-user icons"></i>
							<span *ngIf="objProfile?.fullname == ''" class="empty">(Trống)</span>
							<strong>{{objProfile?.fullname}}</strong>
						</li>
						<li>
							<i class="icon-envelope-letter icons"></i>
							<span *ngIf="objProfile?.email == ''" class="empty">(Trống)</span>
							<strong>{{objProfile?.email}} </strong>
						</li>
						<li>
							<i class="icon-phone icons"></i>
							<span *ngIf="objProfile?.phone == ''" class="empty">(Trống)</span>
							<strong>{{objProfile?.phone}} </strong>
						</li>
						<li>
							<i class="icon-location-pin icons"></i>
							<span *ngIf="objProfile?.address == ''" class="empty">(Trống)</span>
							<strong>{{objProfile?.address}} </strong>
						</li>
						<li>
							<i class="icon-calendar icons"></i>
							<span *ngIf="objProfile?.birthday === ''" class="empty">(Trống)</span>
							<strong>{{convertTickToDateTime(objProfile?.birthday)}} </strong>
						</li>
						<li class="gender">
							<i *ngIf="objProfile?.gender == 'FEMALE'" class="icon-symbol-female icons"></i>
							<i *ngIf="objProfile?.gender == 'MALE'" class="icon-symbol-male icons"></i>
							<i *ngIf="objProfile?.gender != 'MALE' && objProfile?.gender != 'FEMALE'"
								class="icon-emotsmile icons"></i>
							<strong>{{objProfile?.gender}}</strong>
						</li>
					</ul>
				</div>
				<div class="col-md-3" *ngIf="isStudent">
					<button class="waiting" (click)="webcamImage = null; blnIsForProfile = true; imageModal.show();" >
						<svg width="110.687px" height="90px" viewBox="-352.439 -334.975 110.687 90">
						<g class="arrow">
							<line class="left" fill="none" stroke="rgba(191,191,191,1)" stroke-width="7" stroke-linecap="round" stroke-miterlimit="10" x1="-288.85" y1="-291.152" x2="-280.154" y2="-299.849"/>
							<line class="right" fill="none" stroke="rgba(191,191,191,1)" stroke-width="7" stroke-linecap="round" stroke-miterlimit="10" x1="-280.154" y1="-299.849" x2="-271.457" y2="-291.152"/>
						</g>
						<path id="shape" class="cloud" fill="none" stroke="rgba(191,191,191,1)" stroke-width="5" stroke-miterlimit="10" d="M-326.444-305.524
						  c-12.976,0-23.495,10.529-23.495,23.504c0,12.976,10.519,23.495,23.495,23.495h45.217c20.421,0,36.975-16.554,36.975-36.975
						  s-16.554-36.975-36.975-36.975c-16.942,0-31.213,11.408-35.586,26.951H-326.444z"/>
						<path class="cloud loader" fill="none" stroke="rgba(191,191,191,1)" stroke-width="5" stroke-miterlimit="10" d="M-326.444-305.524
						  c-12.976,0-23.495,10.529-23.495,23.504c0,12.976,10.519,23.495,23.495,23.495h45.217c20.421,0,36.975-16.554,36.975-36.975
						  s-16.554-36.975-36.975-36.975c-16.942,0-31.213,11.408-35.586,26.951H-326.444z"/>
						<circle class="circle" fill="none" stroke="#3DB0FA" stroke-width="5" stroke-miterlimit="10" cx="-297.095" cy="-295.5" r="36.975"/>
						</svg>
						<p>Upload ảnh dùng cho điểm danh</p>
					  </button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal update profile -->
<div bsModal #addModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-success" role="document">
		<div class="modal-content">
			<form class="form-horizontal" [formGroup]="frmEdit" (ngSubmit)="onSubmitFormEdit()">
				<div class="modal-header">
					<h4 class="modal-title">Chỉnh sửa thông tin cá nhân</h4>
					<button type="button" class="close" (click)="addModal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="padding: 1rem 2rem;">

					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="text-input">Tên</label>
						<div class="col-md-9">
							<input formControlName="inputName" type="text" id="text-input" name="text-input"
								class="form-control"
								[ngClass]="{ 'is-invalid': (submitted || f.inputName.touched)  && f.inputName.errors }">
							<span *ngIf="(submitted || f.inputName.touched)  && f.inputName.errors?.required"
								class="help-block">Tên không được để trống!</span>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="des-input">Số điện thoại</label>
						<div class="col-md-9">
							<input formControlName="inputPhone" type="text" (keypress)="numberOnly($event)"
								id="email-input" name="des-input" class="form-control"
								[ngClass]="{ 'is-invalid': (submitted || f.inputPhone.touched)  && f.inputPhone.errors }">
							<span *ngIf="(submitted || f.inputPhone.touched)  && f.inputPhone.errors?.required"
								class="help-block">Số điện thoại không được để trống!</span>
							<span *ngIf="(submitted || f.inputPhone.dirty)  && f.inputPhone.errors?.pattern"
								class="help-block">Số điện thoại không đúng định dạng!</span>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="text-input">Địa chỉ</label>
						<div class="col-md-9">
							<input formControlName="inputAddress" type="text" id="text-input" name="text-input"
								class="form-control"
								[ngClass]="{ 'is-invalid': (submitted || f.inputAddress.touched)  && f.inputAddress.errors }">
							<span *ngIf="(submitted || f.inputAddress.touched)  && f.inputAddress.errors?.required"
								class="help-block">Địa chỉ không được để trống!</span>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="begin-input">Ngày sinh</label>
						<div class="col-md-9">
							<input formControlName="selectBirthday" class="form-control" id="begin-input" type="date"
								placeholder="date"
								[ngClass]="{ 'is-invalid': (submitted || f.selectBirthday.touched)  && f.selectBirthday.errors }">
							<span *ngIf="(submitted || f.selectBirthday.touched)  && f.selectBirthday.errors?.required"
								class="help-block">Ngày sinh không được để trống!</span>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-md-3 col-form-label" for="select1">Giới tính</label>
						<div class="col-md-9">
							<select formControlName="selectGender" id="select1" name="select1" class="form-control"
								[ngClass]="{ 'is-invalid': (submitted || f.selectGender.touched)  && f.selectGender.errors }">
								<option value="1">Nam</option>
								<option value="2">Nữ</option>
								<option value="3">Khác</option>
							</select>
							<span *ngIf="(submitted || f.selectGender.touched)  && f.selectGender.errors?.required"
								class="help-block">Hãy chọn giới tính!</span>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="addModal.hide()">Hủy</button>
					<button type="submit" class="btn btn-success">
						<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
						Lưu
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Modal capture image -->
<div bsModal #imageModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-success w-900 image-modal" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" style="margin: auto">Chụp ảnh cá nhân</h4>
				<button type="button" class="close" (click)="imageModal.hide()" aria-label="Close" style="padding: 0; margin: 0;">
					<span aria-hidden="true" style="color: #ffffff;">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="padding: 1rem 2rem;">
				<div class="card-body" >
					<div class="wrap-webcam" (window:resize)="onResize($event)">
						<img *ngIf="!this.showWebcam" style="width: 100%;" [src]="webcamImage?.imageAsDataUrl" />
						<webcam 
							*ngIf="showWebcam" 
							[width]="width" 
							[height]="height" 
							[trigger]="triggerObservable"
							(imageCapture)="handleImage($event)" 
							[allowCameraSwitch]="allowCameraSwitch"
							[switchCamera]="nextWebcamObservable" 
							[videoOptions]="videoOptions" 
							[imageQuality]="1"
							(cameraSwitched)="cameraWasSwitched($event)" 
							(initError)="handleInitError($event)">
						</webcam>
					</div>
				</div>
				<div class="card-footer">
					<div class="wrapper">
						<button class="no-image" id="img-result" (click)="triggerSnapshot()">Upload Image</button>
					</div>
				</div>
			</div>
			<div class="modal-footer" style="border-top: none;">
				<button type="button" class="btn btn-secondary" style="margin-left: auto;" (click)="imageModal.hide()">Hủy</button>
				<button type="button" class="btn btn-success" style="margin-right: auto;" (click)="onClickSaveImage()">
					<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
					Lưu
				</button>
			</div>
		</div>
	</div>
</div>