.avatar {
    width: 60px;
    height: 60px;
}
.img-avatar {
    width: 100%;
}
ul li i {
    margin-right: 15px;
}
.img-circle {
    margin-top: 10px;
    width: 120px;
    height: 120px;
    max-width: none !important;
    border-radius: 100%;
}
.h2-responsive {
    padding-left: 35px;
}
// .gender i {
//     margin-right: 11px !important;
// }
.empty {
    color: #a2a1a1;
}
.wrapper-action {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding-top: 8px;
}
.wrapper-action:hover {
    background-color: aliceblue;
    cursor: pointer;
}
.wrapper-action i {
    margin: 14px;
}
.edit-avatar{
    display: flex;
    .wrapper-action {
        padding-top: 13px;
    }
    .wrapper-action i{
        margin: 13px;
    }
}
.form-control.is-invalid {
    background-image: none;
    padding: 0.375rem 0.75rem;
}
.help-block{
    color: red;
    font-size: 12px;
}
.spin-avatar {
    position: absolute;
    top: 32%;
    left: 42%;
    width: 25px;
    height: 25px;
}
img.loading {
    opacity: 0.5;
}
.w-900 {
    max-width: 900px;
}

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500);

.wrapper {
  
  &:active {
    
    #img-result {
      margin-top: 2px;
      box-shadow: 0 1px 2px rgba(0,0,0,.3);
    }
  }

  animation: roll 1.5s;
  position: relative;
  width: 80px;
  left: 50%;
  top: 35%;
  transform: translate(-50%,-50%);
  padding: 10px;
  background: #16a085;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0,0,0,.3);
  
  #img-result { 
    cursor: pointer;
    margin: 0;
    position: relative;
    background: #1abc9c;
    background-size: cover;
    background-position: center;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    color: rgba(0,0,0,0);
    transition: box-shadow .3s, margin .3s, background-image 1.5s;
    
    &.no-image:before {
      font-family: 'FontAwesome';
      content: "\f030";
      position: absolute;
      left: 50%;
      top: 50%;
      color: #fff;
      font-size: 36px;
      opacity: .8;
      transform: translate(-50%, -50%);
      text-shadow: 0 0px 5px rgba(0,0,0,.4);
    }
  }
  button {
    margin-top: 20px;
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    background: #1abc9c;
    width: 100%;
    border: none;
    color: #fff;
    padding: 10px;
    letter-spacing: 1.3px;
    font-size: 1.05em;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0,0,0,.3);
    outline: 0;
    transition: box-shadow .3s,  margin-top .3s, padding .3s;
    
    &:active {
      box-shadow: none;
      margin-top: 24px;
      padding: 8px
    }
  }
}

.show-button {
    background: #264974;
    border: none;
    color: #fff;
    padding: 10px 20px;
    float: right;
    display: none;
  }
  
  .upload-result {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-y: auto;
    
    &__content {
      word-break: break-all;
      font-family: 'Source Code Pro';
      overflow-wrap: break-word;
    }
  }
  
.wrap-webcam{
    display: flex;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 400px;
    align-items: center;
    justify-content: center;
    // inexplicable/unknown extra space is rendered, causing scrollbars to show up 
    overflow: hidden;
}
.card-footer{
    background-color: #1abc9c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


button.waiting {
    display: block;
    margin: 0 auto;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    line, path, circle {
      display: block;
    }
    
    p {
      color: rgba(191,191,191,1);
      font-family: 'PT Sans', sans-serif;
      font-size: 17px;
    //   letter-spacing: 4px;
      text-indent: 4px;
      margin: 0 auto;
      text-align: center;
      line-height: 20px;
      margin-top: 5px;
    }
    
    &:focus {
      outline: 0;
    }   

    .circle {
      display: none;
    }
    
    .loader {
      stroke: rgba(61,176,250,1);
      opacity: 0;
      stroke-DashArray: 232;
      transition: opacity 0s;
    }
    
    .complete {
      opacity: 0;
    }
    
    #shape, .arrow line, p {
      transition: color .3s, stroke .3s, letter-spacing .3s, font-size .3s, text-indent .3s;
    }
    .arrow path {
      transition: stroke .3s;
    }
    
    &.active:hover {
      .arrow path, #shape {
        stroke: rgba(191,191,191,1);
        transition: stroke .3s;
      }
    }
    
    &:hover {
      .arrow path, #shape {
        stroke: #62b57f;
        transition: stroke .3s;
      }
      p {
        // letter-spacing: 6px;
        color: #62b57f;
        // font-size: 19px;
        text-indent: 6px;
      }
      line {
        color: rgba(61,176,250,1);
        stroke: #62b57f;
      }
    }
}

.image-modal {
    .card-body {
        border: 1px solid #1abc9c;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .card-footer {
        padding: 0;
    }
}