<div class="animated fadeIn">
    <div class="card col-12" style="margin: auto;">
        <div class="card-body">
            <table class="table table-bordered" style="width: 100%;">
                <thead>
                    <tr>
                        <th width="22%" class="text-center fs-15 fw-500">Sinh viên</th>
                        <th *ngFor="let exam of lstClasswork" class="text-center">
                            <div>
                                <h4 class="exam-title">
                                    {{exam.title}}
                                </h4>
                            </div>
                            <div class="count-done">
                                (Đã nộp: 10/20)
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="avg" style="padding-top: 19px;">
                            <div class="row click-col">
                                <div class="wrapper-icon">
                                    <i class="icon-people icons font-2xl"></i>
                                </div>
                                <p class="fw-500">Điểm trung bình của lớp</p>
                            </div>
                        </td>
                        <td *ngFor="let item of lstClasswork">
                        </td>
                    </tr>

                    <tr *ngFor="let s of lstStudent; let i = index">
                        <td class="text-left td-score fw-500">
                            <div class="row student-info">
                                <div class="avatar">
                                    <img src="assets/img/avatars/4.jpg" class="img-avatar" alt="">
                                </div>
                                <p>{{s.name}}</p>
                            </div>
                        </td>
                        <td *ngFor="let score of s.lstScore; let j = index" class="div-score" [ngClass]="{'td-hover' : score.isHover}" (click)="score.isClick = true; onTdScoreClick(i, j, $event);" (mouseenter)="score.isHover = true" (mouseleave)="score.isHover = false">
                            <!-- {{score.score}} -->
                            <div class="row" *ngIf="score.isHover || score.isClick || score.score != null">
                                <div class="input-score">
                                    <input type="number" id="{{'input-' + i.toString() + j.toString()}}" value="{{score.score}}"/>
                                    <h4 class="j4">
                                        <span *ngIf="!score.isClick" class="under-input">_</span>
                                        /100
                                    </h4>
                                </div>
                                <div class="wrapper-action" dropdown dropdownToggle placement="bottom right">
                                    <i class="icon-options-vertical icons font-xl"></i>
                                    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li role="menuitem"><a class="dropdown-item" href="#">Chỉnh sửa</a></li>
                                        <li role="menuitem"><a class="dropdown-item" href="#">Xóa</a></li>
                                        <li role="menuitem"><a class="dropdown-item" href="#">Sao chép liên kiết</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>