<div class="animated fadeIn">
    <div class="card col-12" style="margin: auto;">
        <div class="card-body">
            <table class="table table-bordered" style="width: 1142px;">
                <thead>
                    <tr>
                        <th style="width: 250px;" class="text-center fs-15 fw-500">Sinh viên</th>
                        <th style="width: 178px;" *ngFor="let exam of lstClasswork" class="text-center">
                            <div>
                                <h5 class="exam-title">
                                    {{exam.title}}
                                </h5>
                            </div>
                            <div class="count-done">
                                (Đã nộp: {{exam.doneCount}}/{{exam.allCount}})
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="avg" style="padding-top: 19px;">
                            <div class="row click-col">
                                <div class="wrapper-icon">
                                    <i class="icon-people icons font-2xl"></i>
                                </div>
                                <p class="fw-500">Điểm trung bình của lớp</p>
                            </div>
                        </td>
                        <td *ngFor="let item of lstClasswork">
                            <div class="fw-500 fs-18 text-center pd-t-8">80</div>
                        </td>
                    </tr>

                    <tr *ngFor="let s of lstStudent; let i = index">
                        <td class="text-left td-score fw-500">
                            <div class="row student-info">
                                <div class="avatar">
                                    <img src="{{s.avatar}}" class="img-avatar" alt="">
                                </div>
                                <p>{{s.name}}</p>
                            </div>
                        </td>
                        <ng-container *ngIf="isTeacher">
                            <td *ngFor="let score of s.lstExcercise; let j = index" class="div-score" [ngClass]="{'td-hover' : score.isFocus}" (click)="score.isClick = true; onTdScoreClick(i, j, $event);" (mouseenter)="score.isHover = true" (mouseleave)="score.isHover = false">
                                <div class="row" *ngIf="score.isHover || score.isClick || score.score != null">
                                    <div class="input-score">
                                        <input class="fw-500" type="number" id="{{'input-' + i.toString() + j.toString()}}" value="{{score.score}}" (focus)="score.isFocus = true" (focusout)="score.isFocus = false"/>
                                        <h4 class="j4" *ngIf="score.score == null || score.isFocus">
                                            <span *ngIf="!score.isClick" class="under-input">_</span>
                                            /100
                                        </h4>
                                    </div>
                                    <div class="wrapper-action fake-div" *ngIf="!score.isHover">
                                    </div>
                                    <div class="wrapper-action" dropdown dropdownToggle placement="bottom right" *ngIf="score.isHover || score.isFocus" >
                                        <i class="icon-options-vertical icons font-xl"></i>
                                        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li role="menuitem"><a class="dropdown-item" href="#">Chỉnh sửa</a></li>
                                            <li role="menuitem"><a class="dropdown-item" href="#">Xem bài nộp</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container *ngIf="isStudent">
                            <td *ngFor="let score of s.lstExcercise" class="div-score fw-500 s-score" >
                                {{score.score}}
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>