.exam-title {
    color: blueviolet;
    cursor: pointer;
}
.exam-title:hover {
    text-decoration: underline;
}
.table {
    overflow-x:auto;
}
.fs-15 {
    font-size: 15px;
    color: #3c4043;
}

tr th {
    height: 80px;
}
.avg {
    height: 60.5px;
}
.click-col {
    margin-left: 10px;
}
.click-col p, .student-info p {
    margin-bottom: 0; 
}
.click-col p {
    margin-left: 15px;
}
.avatar {
    width: 36px;
    height: 36px;
}
.student-info {
    margin-left: 2px;
}
.student-info p {
    margin-top: 7px;
    margin-left: 10px;
}
.count-done {
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.549);
}
.wrapper-action {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding-top: 11px;
    margin-left: 5px;
    margin-right: auto;
    position: relative;
}
.wrapper-action:hover {
    background-color: aliceblue;
    cursor: pointer;
}
.wrapper-action i{
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.549);
}
.input-score {
    width: 80px;
    margin-left: 35%;
    position: relative;
}
.input-score input {
    width: -webkit-fill-available;
    height: 35px;
    border: none;
    cursor: text;
}
.input-score h4 {
    position: absolute;
    top: 8px;
    right: 0px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.549);
}
.input-score input {
    text-align: right;
    padding-right: 48%;
    display: flex;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.549);
    background: transparent;
    margin: auto;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.table td {
    height: 66px;
}
.under-input {
    color: rgba(0, 0, 0, 0.549);
    position: absolute;
    right: 39px;
    top: -21px;
    font-size: 35px;
}
.div-score {
    cursor: pointer;
    position: relative;
}
.input-score input:focus {
    border-bottom: 2px solid #c2cbc2;
    outline: none;
    padding-top: 4px;
}
.fw-500 {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.549);
}
.fake-div {
    width: 0;
}
.fs-18 {
    font-size: 18px;
}
.pd-t-8 {
    padding-top: 8px;
}
.td-hover {
    border: 2px solid #c2cbc2;
}
.dropdown-menu {
    min-width: 150px;
    width: 150px;
}
.s-score {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.549);
    text-align: center;
    padding-top: 20px;
}
.input-score .not-submmit {
    position: absolute;
    left: 10%;
    top: 30px;
    color: gray;
}
.submmited {
    line-height: 3;
    padding-left: 38%;
    color: gray;
}